[submodule "projects/xairremote/X32-Behringer"]
	path = projects/xairremote/X32-Behringer
	url = https://github.com/pmaillot/X32-Behringer.git
[submodule "projects/xairremote/python-x32"]
	path = projects/xairremote/python-x32
	url = https://github.com/corrados/python-x32.git
